@use "sass:color";

$colors: (
  "color-gold": #9b7d4f,
  "color-blue": #171b40,
  "color-blue-mod": #8ca8c2,
  "color-green": #4d5337,
  "color-grey": #bcbec0,
  "color-black": #2f2d2e,
  "color-white": #f2f2f2,
);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
    --#{$name}-light: #{color.adjust($value, $lightness: 15%)};
    --#{$name}-dark: #{color.adjust($value, $lightness: -15%)};
  }
}

html {
  font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
